

body {
    background-color: beige;
    width: 600px;
}

p {
    margin-top: 60px;
    font-size: 20px;
}

h1#tytul-red {
    color: red
}

p#para-red {
    color: red;
}

p#para-blue {
    color: blue;
}

















